extends layout

block body
	if hashtagValue
		.container
			h3 You are currently checking out #{hashtagValue}
			.row
				each image in imageArray
					.col-xs-4.images(style="text-align:center")
						img.img-responsive.img.hastag-img(src=image.url)
						br
						form#saveHashTag(role="form", method="post", action="/save")
							input(type="hidden", name="hashtag", value=hashtagValue)
							input(type="hidden", name="url", value=image.url)
							button(type="submit", class="btn btn-info") Save
						br
						br
		br
		
	.container
		h1 What hashtag would you like to see?
		
		form#viewHashTag(role="form", method="post", action="/hashtag")
			h3 View Hashtag
				.form-group
					input#hashtag.form-control(type="text", placeholder="hashtag", name="hashtag")
				input#submitBtn.btn.btn-default(type="submit", value="View Hashtag")
